body{
	background-color: yellow;
	background: /*linear-gradient(45deg, red 10%,transparent 10%), linear-gradient(135deg, red 10%, red 20%,transparent 0%);*/
	}

.outer{
	background-color: papayawhip;
	border-radius: 3%;
	width: 50%;
	height: 70%;
	position: absolute;
	top: 10%;
	left: 25%;
	border: 0.5px solid black;
}
.head{
	position: absolute;
	left: 2%;
	top: 0%;
	font-family: Arial;
	font-size: 150%;
	font-weight: bold;
}
input{
	background-color: white;
	width: 90%;
	height: 6%;
	position: absolute;
	left: 1%;
	top:10%;
	border: none;
	border-left: 0px solid black;
}
#output{
	background-color: seashell;
	position: absolute;
	top: 20%;
	left: 2%;
	width: 90%;
}
