body{
	background: repeating-linear-gradient(-60.15deg, black, black 1vmin, grey 1vmin, grey 2vmin);
	}
div.pics{
	margin: 6% 25%;
	font-family: "Comic Sans MS";
	font-size: 1vw;
	text-transform: uppercase;
	width:50%;
	text-align: center;
	color: white;
	background-color: #B0B0B0;
	border-radius: 3%;
	}
img {
	width: 30%;
	height: 22.5vh;
	border-radius: 10%;
	margin: 0.5% 1%;
}